.convinient-on-the-go{
    box-sizing: border-box;
    margin: 2rem 6rem;
    /* height: 100vh; */
    background-size: contain;
    display: flex;
    justify-content: space-between;
}
.otg-content{
    top:0;
    margin: 1.5rem 4.2rem;
}
.otg-content div{
    width: 22.4rem;
    margin: 1rem 0;
    text-align: left;
    font-size: .8rem;
    color: #737377;
}
.convinient-on-the-go img{
    height: 30rem;
}

.img-div{
    padding: 2rem 0;
    vertical-align: middle;
}

.convinient-on-the-go div h1{
    color: #4a4a4a;
    font-size: 1.7rem;
}

.enter-phone-number{
    display:flex;
    justify-content: space-between;
    height: 5rem;
    word-wrap: break-word;
    max-width: 17rem;
    box-sizing: border-box;
    flex-direction: column;
}
.phone-no{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
select{
    width: 5rem;
}

.enter-phone-number button{
    font-size: .7rem;
    background-color: #E9555D;
    border: none;
    color: white;
    width: 8rem;
    padding: .3rem .4rem;
}