/* *{border:1px solid red;} */

.bus-detail {
    margin: 1rem .5rem;
}

.platform {
    transform: rotate(90deg);
    margin: 2rem 0;
    width: 100%;
}

.businfo {
    border: 1px solid gray;
}

.bus {
    display: flex;
    border-radius: .1rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: .2rem;
}

.view-seat {
    font-size: 1rem;
    border: none;
    background-color: #E9555D;
    color: white;
    padding: .1rem .8rem;
}

.bus div {
    padding: .5rem;
    text-align: left;
    justify-content: space-around;
    flex-direction: column;
}

.bus div small {
    font-size: .7rem;
}

.bus-type {
    width: 20%;
}

.departure {
    width: 15%;
}

.duration {
    width: 10%;
}

.arrival {
    width: 7rem;
    word-wrap: break-word;
    align-items: center;
}

.arrival small {
    text-align: center;
}

.bus-type,
.arrival,
.rating,
.duration,
.departure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rate {
    padding: .1rem .4rem;
    margin-bottom: 1rem;
    border-radius: .1rem;
    background: #38b87c;
}

.rating-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bill {
    width: 50%;
}

.offcanvas::-webkit-scrollbar {
    display: none;
}

.offcanvas {
    -ms-overflow-style: none;
    scrollbar-width: none;
}