.award{
    margin: 2rem;
    text-align: center;
}
.recognition{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 3rem;
}

.recognition div{
    height: 15rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: space-between;
}

.recognition div small{
    color: #4a4a4a;
    line-height: 1.3rem;
    align-self: center;
    letter-spacing: 2px;
    width: 10rem;
}
.recognition div img{
    width: 100%;
    vertical-align: middle;
}

.recognition3 img,
.recognition1 img{
    margin-top: -1rem;
}