/* *{
    border: 1px solid red; 
} */

.growing-number{
    padding: 2rem;
    display: flex;align-items: center;
    flex-direction: column;
    letter-spacing: .5px;
}
.growing-number h2{
    color: #4a4a4a;
    line-height: 3.5rem;
    padding: 0.5rem 2rem 2.5rem 2rem;
}
.growing-number h1{
    color: #DA4E52;
    font-size: 2.5rem;
}
.growing-sectors{
    color: #737373;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0rem 6rem;
    text-align: center;
}
.growing-sectors div{
    width: 12.6rem;
}
