.global-presence{
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    padding: 1rem 0;
}
.global-presence h2{
    color: #4a4a4a;
    margin:2rem 1rem;
    font-size: 1.6rem;
}
.global-presence .countries{
    flex-wrap: wrap;
    padding: 0rem 3rem;
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}
.countries div{
    width: 33%;
    margin: 1.35rem 0;
}
 .countries div img{
    height: 4.6rem;
 }
 .countries div p{
    text-transform: uppercase;
    color: #737373;
    margin: .7rem;
 }