.filter-buses {
    display: flex;
}

.filter {
    width: 15rem;
    padding: 1rem;
    margin: 1rem .5rem;
}

.filter-div button {
    margin: .2rem;
    padding: .2rem;
    font-size: .8rem;
    border-radius: .2rem;
}
.booking-div{
    text-align: right;
    width: 100%;
    /* border: 1px solid red; */
}
.filter-div div {
    margin: 1rem 0;
}

.filter-div div input {
    margin: .5rem;
}

input[type=checkbox]:checked {
    background-color: brown;
    box-shadow: none !important;
    border: none;
}

input[type=checkbox]::after,input[type=checkbox]:focus{
    box-shadow: none;
    border-color: #ddd;
}

.icon {
    height: 1rem;
    vertical-align: middle;
    margin-right: .2rem;
}

strong {
    margin-bottom: 2rem;
}

input {
    outline: none;
}
