.promise{
    text-align: center;
    padding: 1rem;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    font-family: montserrat;
}
.promise img{
    width: 5rem;
}
.promise h1{
    color: #4a4a4a;
    font-size: 1.7rem;
}
.promise-divs{
    background-color: #fff;
    height: 22rem;
    margin: 1.5rem;
    display: flex;
}
.promise-divs div{
    color: #4a4a4a;
    border: 1px solid #E0E0E0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .6rem 1.7rem;
}
.promise-divs div img{
    width: 6rem;
}