.search-div {
    height: 68vh;
    background: url('../../images/home-background-image.png');
    background-repeat: round;
    overflow: hidden;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    position: relative;
    margin-top: 2rem;
    width: 47rem;
    height: 3rem;
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.28);
}

.search-bar .from input {
    margin: 0;
    border: 1px solid #9a9a9a;
    outline: none;
    border: none;
    height: 100%;
    width: 12rem;
}

.to,
.from {
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
}

.search-bar .to input {
    margin: 0;
    outline: none;
    border: none;
    height: 100%;
    width: 9.2rem;
}

.city {
    height: 60%;
    margin: 0 .5rem;
}
.to .city{
    margin-left : 1.5rem;
}

.exchange {
    top: 20%;
    left: 29.5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 50%;
    height: 60%;
    padding: .2rem .4rem;
}
.error-field{
    border: 1px solid red;
}
.exchange img {
    height: 80%;
    width: 100%;
}

.date {
    border-right: 1px solid gray;
    width: 9.5rem;
}

.date input{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}
.search-bus{
    flex:4;
}
.search-bus button {
    height: 100%;
    border: none;
    background-color: #D74F57;
    color: white;
    width:100%;
}