@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.navbar {
    top: 0;
    width: 100vw;
    z-index: 2;
    position: fixed;
    background-color: #D84F57;
    color: white;
    height: 3.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 3rem;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    background-color: #D84F57 !important;
}

.nav-left {
    display: flex;
    height: 95%;
}

.nav-left img {
    width: 5rem;
    padding: .2rem;
}

.navbar .nav-left .bus-ticket {
    border-bottom: 3px solid white;
    margin: 1rem;
    margin-top: 1.2rem;
    margin-bottom: 0.16rem;
    font-size: 0.72rem;
    padding: 0 0.3rem;
    letter-spacing: .2px;
}

.new-red-site {
    font-size: .85rem;
    margin: 1rem 0.6rem;
}

.new-red-site sup {
    font-size: 0.5rem;
}

.nav-right {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-right div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-right p {
    margin: 0 .41rem;
    font-size: .72rem;
    overflow: hidden;
}

.nav-right p .fa-user {
    text-align: center;
    font-size: 1.3rem;
    padding: .5rem .6rem;
    border: 2px solid white;
    border-radius: 50%;
}