.footer {
    padding: 2rem 0;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B2330;
    color: rgb(214, 213, 213);
}

.footer-section {
    padding-left: 5rem;
    font-size: .9rem;
    height: 80%;
    display: flex;
    width: 80rem;
    justify-content: space-between;
    align-items: first baseline;
}

.footer-left{
    /* width: 47rem; */
    flex :6;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}
.footer h3 {
    font-size: 1rem;
    color: #797979;
}

.footer p {
    margin: .5rem 0;
    line-height: 1.3rem;
}

.footer-redbus img {
    width: 4rem;
}

.footer-redbus {
    height: 100%;
    flex: 2;
    padding: 0 3.5rem;
}
.footer-redbus{
    line-height: 1.9rem;
}

.fa-facebook-f {
    font-size: 1.1rem;
    border: .1px solid #797979;
    padding: 1rem 1.2rem;
    border-radius: 50%;
    margin-right: .6rem;
}

.fa-twitter {
    font-size: 1.1rem;
    border: .1px solid #797979;
    padding: 1rem;
    border-radius: 50%;
    margin-right: .6rem;
}