
.first-save{
    margin-top:-4rem;
    margin-left: 2.6rem;
    align-self: center;
    height: 7rem;
    width: 39rem;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.28);
    background-color: #fff;
    display: flex;
    align-items: center;
}

.first-save img{
    width: 5.6rem;
    margin:1.5rem;
}

.first-save div{
    color: #4a4a4a;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    margin: 0 .2rem .2rem 2rem;
}
.first-save div h2{
    letter-spacing: 1px;
    font-size: 1rem;
}

.first-save div small{
    color: #737373;
}
