.search-result{
    margin-top: 4rem;
}

.journey-tab{
    font-size: .9rem;
    display: flex;
    align-items: center;
    height: 3.5rem;
    border-bottom: 1px solid gray;
}

.date-div{
    display: flex;
    margin: 1rem;
}

.date-day{
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.fa-arrow-right{
    margin: 0 1rem;
}

.fa-chevron-left,.fa-chevron-right{
    padding: 0 1rem;
    font-size: 1.2rem;
}

.journey-tab strong{
    margin: 0 1rem;
}

.journey-tab button{
    padding: .1rem 1rem;
    border-radius: .3rem;
}

.buslist{
    margin: 1rem;
    width: 70rem;
}