

.top-section {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.top-section .top-row-1 {
    color: #444343;
    font-size: 1rem;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 3rem .2rem;
    margin: 0rem 0rem 2rem 2.5rem;
}
.row-1{
    border-bottom: 1px solid #bbb;
}

.top-row-1 .row1-div {
    flex: 1;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.operators-div{
    text-align: left;
    border: none;
}
.operators-list .operator {
    font-size: .8rem;
    line-height: 1.5rem;
    padding: 0rem .5rem;
    border-right: 1px solid gray;
}
.operator-1{
    font-size: .8rem;
    line-height: 1.5rem;
    padding: 0rem .5rem 0rem 0rem;
    border-right: 1px solid gray;
}