
.home-page-offer{
    display: flex;
    align-self: center;
}

.offer1, .offer2{
    border-radius: .1rem;
    color: #737373;
    font-size: .8rem;
    padding: 1rem 1.6rem;
    margin: 1.3rem .7rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.28);
    transition: .2s;
}

.offer1:hover, .offer2:hover{
    transition: .2s;
    transform: scale(1.07);
}